<div class="section section-tabs">
    <div class="container">
       

      
      
      <ng-container [ngSwitch]="sequenceSelected" *ngIf="defs.length > 0">
        
        
        <div  
          *ngSwitchCase="'STAGGER'"
          @fadeGrowStagger
          (@fadeGrowStagger.done)="animationDone()"
        >
        
        <div class="title" *ngIf="ramifications.length > 0">
          <h3 class="mb-3">Ramification sémantique</h3>
        </div>
        

        <div class="row">
        <div *ngFor="let ramification of ramifications"> 
          
          <app-ramification [text]="ramification"></app-ramification>
        </div>
        </div>
         
        
        <div   class="title"><h3 class="mb-3">Définitions</h3></div>
        <div *ngFor="let definition of defs" >
          <app-definition [definition]="definition"></app-definition>
          
        </div>        
      </div>
        
      </ng-container>
      
    
    <div class="container">
      <h1 class="title mb-5">Relations</h1>
      <div class="row" id="modals">
        <!-- Add *ngfor for display all data ( backend not finish) -->
        <div class="col-md-4">
          <app-relation></app-relation>

        </div>
        <div class="col-md-4">
          <app-relation></app-relation>

        </div>
        <div class="col-md-4">
          <app-relation></app-relation>

        </div>
        <div class="col-md-4">
          <app-relation></app-relation>

        </div>
      </div>
     
    </div>
      
    </div>
  </div>

 