

<app-instructions></app-instructions>
<div>
  
    <div id="search" class=" wrapper">
        <div class="page-header header-filter">
          
          <div class="container">
            <div class="content-center brand">
              
              <h1 class="h1-seo">Diko•</h1>
              <h3>
                Le dictionnaire d'associations lexicales
                contributif et libre de JeuxDeMots
              </h3>

              <form #form="ngForm" class="col s12" (submit)="formSubmit(form.value);">
                <div class="form-row">
                  <div *ngIf="relation_node_couple.length > 0" class="col">
                    
                    
                    <select class="form-control"  (change)="filterData($event.target.value);" matNativeControl [(ngModel)]="relation" name="relation">
                      <option value="" selected></option>
                      <option *ngFor="let type of allRelationships;let indexOfelement=index;" [value]="indexOfelement">
                        {{type}}
                      </option>
                    </select>
                  </div>
                  <div class="col">
                    
                   
                  <ng-autocomplete #ngAutoCompleteStatic
                  [data]="wordsTemplate"
                  name="name"
                  [(ngModel)]="name"
                  [initialValue]=""
                  [placeholder]="placeholder"
                  [searchKeyword]="keyword"
                  historyIdentifier="wordsTemplateList"
                  [historyHeading]="historyHeading"
                  historyListMaxNumber="3"
                  notFoundText="Not found"
                  [itemTemplate]="itemTemplateStatic"
                  [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>

                  <ng-template #itemTemplateStatic let-item>
                  <a [innerHTML]="item"></a>
                  </ng-template>

                  <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                  </ng-template>
                
                <span class="helper-text red-text">{{ errorText }}</span>
                  </div>
                </div> 
             
            </form>
            
            </div>
            
          </div>

        </div>
        
    </div>
    
</div>



<app-data id="data" [defs]="defs" [ramifications]="ramifications" ></app-data>

<div id="relation">
<div  *ngIf="filter" class="container">
  <h1 class="title mb-3">Relations</h1>
  <div class="row" id="modals">
    <ng-container >
      <div class="col-md-2">
        <app-relation  [index]="getRelationTypeByIndex(relation)" [list]="filtered_data"></app-relation>
        
      </div>
    </ng-container>
  </div>
  
</div> 
</div> 
<div  *ngIf="relation_node_couple.length > 0 && !filter " class="container">
  <h1 class="title mb-5">Relations</h1>
  <div class="row" id="modals">
    <ng-container *ngFor="let group of relation_node_couple;let indexOfelement=index;">
      <div class="col-md-4">
        <app-relation  [index]="getRelationTypeByIndex(indexOfelement)" [list]="group"></app-relation>
        
      </div>
    </ng-container>
  </div>
  
</div> 





